/*
Primary color: #2C3E50
Secondary color: #1ABC9C
Background color: #ECF0F1
Text color: #34495E
Akcent color: #F1C40F
CTA color: #F1C40F or #E74C3C
*/

.big {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.selected {
    color: #1ABC9C;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.select a:hover {
    color: #F1C40F;
    text-decoration: dashed;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

header {
    background-color: #2C3E50;
}

.learning {
    color: rgb(33, 137, 255);
    font-family: Arial, Arial, Helvetica, sans-serif;
}

body {
    background-color: #ECF0F1;
}

p, li, h1, h2, h3, h4, h5, h6, a{
    color: #34495E;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.text-b{
    color: #FFFFFF;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.skills {
    list-style-type: none;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2);
    gap: 10px;
    }

.grid-items {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3E50;
    padding: 10px;
    font-size: 1rem;
    text-align: left;
    list-style: none;
}

.grid-items li {
    list-style: none;
}